
<!Code Developed By Jisshu >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{file_name}}</title>
    <link rel="icon" href="https://i.ibb.co/Hh4kF2b/icon.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://i.ibb.co/Hh4kF2b/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Jisshubot/data@main/fs/src/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Jisshubot/data@main/fs/src/plyr.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav>
        <div class="nleft">
            <a href="#">
                <h3 id="heading" style="z-index: 100;" class="magnet title">𝑭𝑰𝑳𝑬 𝑺𝑻𝑹𝑬𝑨𝑴</h3>
            </a>
        </div>
        <div class="nryt">
            <a class="home-btn magnet" href="#main" onclick="toggleWidthnav(this)">𝑯𝑶𝑴𝑬</a>

            <a href="#abtus" class="about-btn magnet" onclick="toggleWidthnav(this)">𝑨𝑩𝑶𝑼𝑻</a>
        </div>
    </nav>
    <center>
        <div class="about-nav">
            <a href="#abtus" class="wlcm magnet" onclick="toggleWidth(this)">𝑾𝑬𝑳𝑪𝑶𝑴𝑬</a>
            <a href="#channels" class="abt-chnl magnet" onclick="toggleWidth(this)">𝑪𝑯𝑨𝑵𝑵𝑬𝑳</a>
            <a href="#contact" class="magnet contact-btn" onclick="toggleWidth(this)">𝑪𝑶𝑵𝑻𝑨𝑪𝑻</a>
        </div>
    </center>

    <div class="outer">
        <div class="inner">
            <div class="main" id="main">
                <video id="player" class="player" src="{{file_url}}" type="video/mp4" playsinline controls></video>
                <div class="player"></div>
                <div class="file-name">
                    <h4 style="display: inline;">ꜰɪʟᴇ ɴᴀᴍᴇ : </h4>
                    <p style="display: inline;" id="myDiv">{{file_name}}</p><br>
                    <h4 style="display: inline;">ꜰɪʟᴇ ꜱɪᴢᴇ : </h4>
                    <p style="display: inline;">{{file_size}}</p>
                </div>
                <div class="downloadBtn">
                    <button class="magnet" onclick="streamDownload()">
                        <img style="height: 30px;" src="https://i.ibb.co/RjzYttX/dl.png" alt="">𝘋𝘰𝘸𝘯𝘭𝘰𝘢𝘥 𝘝𝘪𝘥𝘦𝘰
                    </button>
                    <button class="magnet" onclick="copyStreamLink()">
                        <img src="https://i.ibb.co/CM4Y586/link.png" alt="Copy Link">𝘊𝘰𝘱𝘺 𝘓𝘪𝘯𝘬
                    </button>
                    <button class="magnet" onclick="vlc_player()">
                        <img src="https://i.ibb.co/px6fQs1/vlc.png" alt="">𝘞𝘢𝘵𝘤𝘩 𝘪𝘯 𝘝𝘓𝘊 𝘗𝘭𝘢𝘺𝘦𝘳
                    </button>
                    <button class="magnet" onclick="mx_player()">
                        <img src="https://i.ibb.co/41WvtQ3/mx.png" alt="">𝘞𝘢𝘵𝘤𝘩 𝘪𝘯 𝘔𝘟 𝘗𝘭𝘢𝘺𝘦𝘳
                    </button>
                    <button class="magnet" onclick="n_player()">
                        <img src="https://i.ibb.co/Hd2dS4t/nPlayer.png" alt="">𝘞𝘢𝘵𝘤𝘩 𝘪𝘯 𝘕 𝘗𝘭𝘢𝘺𝘦𝘳
                    </button>
                </div>

            </div>
            <div class="abt">
                <div class="about">
                    <div class="about-dets">

                        <div class="abt-sec" id="abtus" style="padding: 160px 30px;">
                            <h1 style="text-align: center;">𝑾𝑬𝑳𝑪𝑶𝑴𝑬 𝑻𝑶 𝑶𝑼𝑹 <Span>𝑭𝑰𝑳𝑬 𝑺𝑻𝑹𝑬𝑨𝑴</Span> 𝑩𝑶𝑻</h1>
                            <p style="text-align: center; line-height: 2;word-spacing: 2px;  letter-spacing: 0.8px;">
                                𝘛𝘩𝘪𝘴 𝘪𝘴 𝘢 𝘛𝘦𝘭𝘦𝘨𝘳𝘢𝘮 𝘉𝘰𝘵 𝘵𝘰 𝘚𝘵𝘳𝘦𝘢𝘮 <span>𝘔𝘰𝘷𝘪𝘦𝘴</span> 𝘈𝘯𝘥 <span>𝘚𝘦𝘳𝘪𝘦𝘴</span> 𝘋𝘪𝘳𝘦𝘤𝘵𝘭𝘺 𝘰𝘯
                                𝘛𝘦𝘭𝘦𝘨𝘳𝘢𝘮. 𝘠𝘰𝘶 𝘤𝘢𝘯 𝘢𝘭𝘴𝘰
                                <span>𝘋𝘰𝘸𝘯𝘭𝘰𝘢𝘥</span> 𝘵𝘩𝘦𝘮 𝘪𝘧 𝘺𝘰𝘶 𝘸𝘢𝘯𝘵. 𝘛𝘩𝘪𝘴 𝘣𝘰𝘵 𝘪𝘴 𝘥𝘦𝘷𝘦𝘭𝘰𝘱𝘦𝘥 𝘣𝘺 <a
                                    href="https://telegram.dog/movieverse_links"><span style="font-weight: 700;">𝘔𝘖𝘝𝘐𝘌 𝘝𝘌𝘙𝘚𝘌</span></a>
                                <br><br>𝘐𝘧 𝘺𝘰𝘶 𝘭𝘪𝘬𝘦 𝘵𝘩𝘪𝘴 𝘣𝘰𝘵, 𝘵𝘩𝘦𝘯 𝘥𝘰𝘯'𝘵
                                𝘧𝘰𝘳𝘨𝘦𝘵 𝘵𝘰 𝘴𝘩𝘢𝘳𝘦 𝘪𝘵 𝘸𝘪𝘵𝘩 𝘺𝘰𝘶𝘳 𝘧𝘳𝘪𝘦𝘯𝘥𝘴 𝘢𝘯𝘥 𝘧𝘢𝘮𝘪𝘭𝘺.
                            </p>
                        </div>

                        <div class="abt-sec" id="channels">
                            <h1>𝘑𝘖𝘐𝘕 𝘖𝘜𝘙 <span>𝘛𝘌𝘓𝘌𝘎𝘙𝘈𝘔</span> 𝘊𝘏𝘈𝘕𝘕𝘌𝘓</h1>
                            <div class="links chnl-link">
                                <a class="magnet" href="https://t.me/movieverse_links">
                                    <button>𝘔𝘖𝘝𝘐𝘌 𝘝𝘌𝘙𝘚𝘌 𝘓𝘐𝘕𝘒𝘚</button>
                                </a>
                                <!---<a class="magnet" href="https://t.me/universi_update">
                                    <button>ㅤㅤㅤㅤㅤㅤ</button>
                                </a>-->
                            </div>
                        </div>

                        <div class="abt-sec" id="contact">
                            <p style="text-align: center;">𝘙𝘦𝘱𝘰𝘳𝘵 𝘉𝘶𝘨𝘴 𝘢𝘯𝘥 𝘊𝘰𝘯𝘵𝘢𝘤𝘵 𝘶𝘴 𝘰𝘯 𝘛𝘦𝘭𝘦𝘨𝘳𝘢𝘮 𝘉𝘦𝘭𝘰𝘸</p>
                            <div class="links contact">
                                <a href="https://t.me/movieverse_links">
                                    <button>𝘊𝘖𝘕𝘛𝘈𝘊𝘛</button>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <footer>
            <center>
                <div class="copyright">
                    <h5 class="text-center">𝘊𝘰𝘱𝘺𝘳𝘪𝘨𝘩𝘵 © 2024 <a href="https://telegram.dog/movieverse_links"><span
                                style="font-weight: 700;">𝘔𝘖𝘝𝘐𝘌 𝘝𝘌𝘙𝘚𝘌</span></a>. All
                        𝘙𝘪𝘨𝘩𝘵𝘴 𝘙𝘦𝘴𝘦𝘳𝘷𝘦𝘥.</h5>
                </div>
            </center>
        </footer>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sheryjs/dist/Shery.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const uncopyableElement = document.querySelector(".uncopyable");

        uncopyableElement.addEventListener("selectstart", function (event) {
            event.preventDefault();
        });
    });
</script>
<script src="https://cdn.plyr.io/3.6.9/plyr.js"></script>
<script src="https://Jisshubot.github.io/data/fs/src/script.js"></script>

</html>
